#modal-result.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content.center-block
      canvas#result-chart(width='600', height='600')


script(src='/javascript/chart-result.js')
script.
    var labels = [#{result.getDates().map(element => "\'" + element + "\'")}]
    var capital = [#{result.getCapital().map(element => "\'" + element + "\'")}]
    var dates = labels.map(element => {
        var date = new Date(element)
        return date.getMonth() + "/" + date.getFullYear()
    })
    configureChart(dates, capital)
    
  